# Git configuration
# Note: user.name and user.email are set by bootstrap.sh

[core]
	editor = code --wait
	autocrlf = input
	excludesfile = ~/.gitignore_global

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	default = current
	autoSetupRemote = true

[fetch]
	prune = true

[diff]
	colorMoved = zebra

[alias]
	# Shortcuts
	st = status
	co = checkout
	br = branch
	ci = commit
	unstage = reset HEAD --

	# Logging
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	last = log -1 HEAD
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

	# Utilities
	amend = commit --amend --no-edit
	fixup = commit --fixup
	undo = reset --soft HEAD^
	wip = commit -am "WIP"
	contributors = shortlog --summary --numbered

[color]
	ui = auto

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
